.auth-page {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 35vw;
}
form {
    display: flex;
    flex-direction: column;
}